<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347985680587-jp5klrbj18pub70qoocu3h6ilf99m0l5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347985680587-jp5klrbj18pub70qoocu3h6ilf99m0l5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>347985680587-187od1uupei208cqgo95dd28ebsv8rhl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCLcb0RVCdYgd1QWBZPspiVESTDpF1yLhM</string>
	<key>GCM_SENDER_ID</key>
	<string>347985680587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codify.myride.user</string>
	<key>PROJECT_ID</key>
	<string>myride-87f75</string>
	<key>STORAGE_BUCKET</key>
	<string>myride-87f75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347985680587:ios:3c34f256c40b4ffc76634e</string>
</dict>
</plist>